body {
  background-image: url("https://ssl.gstatic.com/ui/v1/icons/mail/themes/desk/bg2_1920x1200.jpg");
  width: 600px;
  margin: auto;
  color: #FFF;
}

header > img {
  width: 100px;
}

.alert-unread {
  font-size: 30px;
}

.alert-unread > .email-number {
  background-color: #fcb125;
  border-radius: 50%;
}

.email {
  color: #000;
  padding: 5px;
}

footer{
  text-align: center;
  font-size: 20px;
}

footer > .author{
  font-size: 40px;
  font-style: oblique;
}
